<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">
    <!-- Brand demo (see ~/css/demo/demo.css) -->
    <div class="app-brand demo">
        <span class="app-brand-logo demo">
            <i class="feather icon-shopping-bag"></i>
        </span>
        <a href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">B2B Portal</a>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>
    <div class="sidenav-divider mt-0"></div>

    <!-- Links -->
    <ul class="sidenav-inner py-1">

        <!-- Dashboard -->
        <li class="sidenav-item">
            <a href="/Home/Index" class="sidenav-link">
                <i class="sidenav-icon feather icon-home"></i>
                <div>Dashboard</div>
            </a>
        </li>

        @* Alıcı (müşteri) tarafı *@
        @if (!(User.IsInRole("Seller") || User.IsInRole("Satıcı")))
        {
            <!-- Ürün Kataloğu -->
            <li class="sidenav-item">
                <a href="/Products/Catalog" class="sidenav-link">
                    <i class="sidenav-icon feather icon-package"></i>
                    <div>Ürün Kataloğu</div>
                </a>
            </li>

            <!-- Sepetim -->
            <li class="sidenav-item">
                <a href="/Cart/Index" class="sidenav-link">
                    <i class="sidenav-icon feather icon-shopping-cart"></i>
                    <div>Sepetim</div>
                </a>
            </li>

            <!-- Siparişlerim -->
            <li class="sidenav-item">
                <a href="/Orders/MyOrders" class="sidenav-link">
                    <i class="sidenav-icon feather icon-clipboard"></i>
                    <div>Siparişlerim</div>
                </a>
            </li>

            <!-- Teklif Taleplerim -->
            <li class="sidenav-item">
                <a href="/Products/MyRequests" class="sidenav-link">
                    <i class="sidenav-icon feather icon-message-square"></i>
                    <div>Teklif Taleplerim</div>
                </a>
            </li>

            @* Rapor sayfaları alıcıda yok *@
        }
        else
        {
            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-folder"></i>
                    <div>Cari Yönetimi</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item"><a href="/Accounting/Accounts" class="sidenav-link"><div>Cari Listesi</div></a></li>
                    <li class="sidenav-item"><a href="/Accounting/OrderHistory" class="sidenav-link"><div>Sipariş Geçmişi</div></a></li>
                </ul>
            </li>
            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-package"></i>
                    <div>Ürünler</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item"><a href="/Products/List" class="sidenav-link"><div>Ürün Listesi</div></a></li>
                    <li class="sidenav-item"><a href="/Products/Create" class="sidenav-link"><div>Yeni Ürün Ekle</div></a></li>
                    <li class="sidenav-item"><a href="/Products/Stock" class="sidenav-link"><div>Stok Takibi</div></a></li>
                    <li class="sidenav-item"><a href="/Products/Requests" class="sidenav-link"><div>Teklif Talepleri</div></a></li>
                </ul>
            </li>
        }

        @* Alıcı tarafında raporlar gizlendi *@

        <!-- Yardım -->
        <li class="sidenav-item">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-help-circle"></i>
                <div>Yardım</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item">
                    <a href="/Help/FAQ" class="sidenav-link">
                        <div>SSS</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/Help/LiveSupport" class="sidenav-link">
                        <div>Canlı Destek</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>