@* _Sidebar.cshtml *@
<aside id="layout-menu" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">
    <div class="app-brand demo">
        <span class="app-brand-logo demo">
            <i class="feather icon-shopping-bag"></i>
        </span>
        <a href="/" class="app-brand-text demo sidenav-text font-weight-normal ml-2">B2B Portal</a>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>
    <div class="sidenav-divider mt-0"></div>

    <ul class="sidenav-inner py-1">
        <!-- Dashboard -->
        <li class="sidenav-item open active">
            <a href="/Home/Index" class="sidenav-link">
                <i class="sidenav-icon feather icon-home"></i>
                <div>Dashboard</div>
            </a>
        </li>

        @* Eğer kullanıcı müşteri ise *@
        @if (!User.IsInRole("Seller"))
        {
            <!-- Kampanyalar -->
            <li class="sidenav-item">
                <a href="javascript:void(0);" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-tag"></i>
                    <div>Kampanyalar</div>
                </a>
                <ul class="sidenav-inner">
                    <li class="sidenav-item">
                        <a href="/Campaign/Index" class="sidenav-link">
                            <div>Kampanyalar</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Filtered" class="sidenav-link">
                            <div>Kategorilerime Özel</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/MyCampaigns" class="sidenav-link">
                            <div>Kampanyalarım</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Expiring" class="sidenav-link">
                            <div>Süresi Bitmek Üzere Olanlar</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Stats" class="sidenav-link">
                            <div>Kampanya İstatistikleri</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Search" class="sidenav-link">
                            <div>Gelişmiş Arama / Filtre</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Teklifler -->
            <li class="sidenav-item">
                <a href="javascript:void(0);" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-file-text"></i>
                    <div>Teklifler</div>
                </a>
                <ul class="sidenav-inner">
                    <li class="sidenav-item">
                        <a href="/Offer/Create" class="sidenav-link">
                            <div>Teklif Oluştur</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Offer/MyOffers" class="sidenav-link">
                            <div>Tekliflerim</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Satıcılar -->
            <li class="sidenav-item">
                <a href="/Seller/Index" class="sidenav-link">
                    <i class="sidenav-icon feather icon-shopping-bag"></i>
                    <div>Satıcılar</div>
                </a>
            </li>

            <!-- Satıcı Başvurusu -->
            <li class="sidenav-item">
                <a href="/Account/BecomeSeller" class="sidenav-link">
                    <i class="sidenav-icon feather icon-check-circle"></i>
                    <div>Satıcı Başvurusu</div>
                </a>
            </li>
        }
        else
        {
            <!-- Kampanyalar -->
            <li class="sidenav-item">
                <a href="javascript:void(0);" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-tag"></i>
                    <div>Kampanyalar</div>
                </a>
                <ul class="sidenav-inner">
                    <li class="sidenav-item">
                        <a href="/Campaign/MyCampaigns" class="sidenav-link">
                            <div>Kampanyalarım</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Create" class="sidenav-link">
                            <div>Yeni Kampanya</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/PendingApproval" class="sidenav-link">
                            <div>Onay Bekleyen Kampanyalar</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Archived" class="sidenav-link">
                            <div>Arşivlenmiş Kampanyalar</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Expiring" class="sidenav-link">
                            <div>Süresi Bitmek Üzere Olanlar</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Stats" class="sidenav-link">
                            <div>Kampanya İstatistikleri</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Templates" class="sidenav-link">
                            <div>Kampanya Şablonları</div>
                        </a>
                    </li>
                    <li class="sidenav-item">
                        <a href="/Campaign/Search" class="sidenav-link">
                            <div>Gelişmiş Arama / Filtre</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Gelen Teklifler -->
            <li class="sidenav-item">
                <a href="/Offer/Received" class="sidenav-link">
                    <i class="sidenav-icon feather icon-inbox"></i>
                    <div>Gelen Teklifler</div>
                </a>
            </li>

            <!-- PDF Dökümanlar -->
            <li class="sidenav-item">
                <a href="/Document/PDFs" class="sidenav-link">
                    <i class="sidenav-icon feather icon-file"></i>
                    <div>PDF Dökümanlarım</div>
                </a>
            </li>

            <!-- Müşteriler -->
            <li class="sidenav-item">
                <a href="/Customer/Index" class="sidenav-link">
                    <i class="sidenav-icon feather icon-users"></i>
                    <div>Müşteriler</div>
                </a>
            </li>
        }

        <!-- Raporlar -->
        <li class="sidenav-item">
            <a href="javascript:void(0);" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-bar-chart-2"></i>
                <div>Raporlar</div>
            </a>
            <ul class="sidenav-inner">
                <li class="sidenav-item">
                    <a href="/Reports/Analytics" class="sidenav-link">
                        <div>Analitik Ekranı</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/Reports/Performance" class="sidenav-link">
                        <div>Performans Raporları</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Yardım -->
        <li class="sidenav-item">
            <a href="javascript:void(0);" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-help-circle"></i>
                <div>Yardım</div>
            </a>
            <ul class="sidenav-inner">
                <li class="sidenav-item">
                    <a href="/Help/FAQ" class="sidenav-link">
                        <div>SSS</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/Help/LiveSupport" class="sidenav-link">
                        <div>Canlı Destek</div>
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/Help/Guide" class="sidenav-link">
                        <div>Kullanım Kılavuzu</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Mesajlar -->
        <li class="sidenav-item">
            <a href="/Message/Index" class="sidenav-link">
                <i class="sidenav-icon feather icon-message-square"></i>
                <div>Mesajlar</div>
            </a>
        </li>

        <!-- Profilim -->
        <li class="sidenav-item">
            <a href="/Account/Profile" class="sidenav-link">
                <i class="sidenav-icon feather icon-user"></i>
                <div>Profilim</div>
            </a>
        </li>
    </ul>
</aside>
