@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Erişim Reddedildi</h4>
                    <p class="card-text">Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfaya Dön</a>
                </div>
            </div>
        </div>
    </div>
</div> 